body {
  background-color: #1D1D1D;
  color: #FFFFFF;
}

.hidden {
  display: none;
}

.people-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.people-list .self {
  text-decoration: underline;
}

#message {
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100vw;
}

#message-text {
  background-color: #2C2C2C;
  color: #FFFFFF;

  resize: none;
  border-radius: 0.5rem;
  padding: 0.25rem;

  width: 80%;
}

#send-btn {
  background-color: slateblue;
  border: none;
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

#history {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.msg-content {
  background-color: #4A4A4A;
  color: #FFFFFF;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  max-width: 30vh;
  white-space: pre-wrap;
}

.from-self {
  align-self: flex-end;
  align-items: flex-end;
}

.from-self .msg-content {
  background-color: slateblue;
}

#infos {
  display: flex;
  justify-content: space-evenly;
}

#offline-list li {
  color: #777777;
}

#offline li:hover {
  color: #FFFFFF;
}

#reco-container:has(#reco-list:empty)  {
  display: none;
}

#reco-list li, button {
  cursor:pointer
}